
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add New Customer</h1>
<form method="post" asp-action="Add">
    <div>
        <label for="Id">Id:</label>
        <input type="text" id="Id" name="Id" />
    </div>
    <div>
        <label for="Name">Name:</label>
        <input type="text" id="Name" name="Name" />
    </div>
    <div>
        <label for="Amount">Amount:</label>
        <input type="text" id="Amount" name="Amount" />
    </div>
    
    <button type="submit">Add Customer</button>
</form>
