
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WebApplication1.Models.Customer
<h1> Display Created Customer</h1>

<p>Customer Id: @Model.Id</p>
<p>Customer Mame: @Model.Name</p>
<p>Customer Amount: @Model.Amount</p>

